{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
        <div class="container">
            <ul class="socialCol">
                <li><a href="https://www.facebook.com/profile.php?id=100087296565992&mibextid=ZbWKwL"><img
                        src="{% static 'images/fb.svg' %}" alt="..."></a></li>
                <li><a href="https://www.instagram.com/takh1.rov_/"><img src="{% static 'images/insta.svg' %}"
                                                                         alt="..."></a></li>
                {#        <li><a href="javascript:void(0)"><img src="{% static 'images/telegram.svg' %}" alt="..."></a></li>#}
                <li><a href="https://www.linkedin.com/in/ulug-bek-tokhirov-8a4336299/"><img
                        src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
            </ul>
            <div class="copyrightCol">
                <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="#" target="_blank">Tokhirov
                    Ulug'bek</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->